.text-updater-node {
    height: 60px;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 5px;
    background: white;
}


.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}